<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.LockItem.CanToggleLock" type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.LockItem.CanToggleLockRequest, Sitecore.Support.345391"
	      patch:instead="*[@type='Sitecore.ExperienceEditor.Speak.Ribbon']"/>
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>